
.navbar-custom {
  display: flex;
  align-items: center; /* Vertically centers the logo and text */
  margin-bottom: 20px; /* Space below the navbar */
}


.navbar-custom h1 {
  margin: 0; /* Remove default margin from the h1 */
}
